<!DOCTYPE html>
<html>
    <head>
        <title>Forerunners_Wisdom Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Forerunners_Wisdom Blog</a></h1>
        </header>

        <article>
            <time>published: 11.06.2022, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>At your birth a seed is planted. That seed is your uniqueness. It wants to grow, transform itself, and flower to its full potential. It has a natural, assertive energy to it. Your life’s task is to bring that seed to flower, to express your uniqueness through your work. Robert Greene.</p>
        </article>

        <article>
            <time>published: 11.06.2022, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>The good life is a process, not a state of being. It is a direction, not a destination..</p>
        </article>
    </body>
</html>